{% extends 'Rakesh/Index.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
  <!-- Intro Content -->
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="{% static 'photo/tobias-tullius-4dKy7d3lkKM-unsplash.jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <h2 class="text-center text-danger">About CCTV Services</h2>
                <p class="text-monospace para text-black-10 mt-5 text-center font-weight-light">Security cameras besides keeping an eye on all your belongings also give you satisfaction and peace of mind that comes with the knowledge that you can always keep an eye on the estate. With the increase in the crime rates, CCTV cameras installation in your home and businesses has become a necessity.</p>
            </div>
        </div>
     <div class="row mt-3">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="{% static 'photo/wallpaperflare.com_wallpaper (4).jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <h2 class="text-center text-danger">About NETWORKING Services</h2>
                <p class="text-monospace text-black-10 para mt-5 text-center font-weight-light">Owing to our enriched industrial experiences, we are committed to providing a wide variety of excellent quality Computer Networking Service.This service is carried out by our skilled professionals using the finest quality tools and modern technology. The offered service is performed in an excellent manner within the scheduled time-frame. The provided service is executed as per the variegated requirements of our precious clients. Moreover, clients can avail this service from us at competitive price.</p>
            </div>
        </div>
     <div class="row mt-3">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="{% static 'photo/3-42.jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <h2 class="text-center text-danger">About Cartridge Refilling Services</h2>
                <p class="text-monospace text-black-10 para mt-3 text-center font-weight-light">We are service provider all types of toner cartridges refilling service onsite call now.
                Toner Refill Service  utilizes High-Quality Brands INK. We likewise administration for Printers. On the off chance that You are searching for Reasonable Price Ink and Toner Refill, at that point you are in ideal spot.Toner Refill Service | Rk utilize High-Quality Brands INK. We likewise administration for Printers. On the off chance that You are searching for Reasonable Price Ink and Toner Refill, at that point you are in ideal spot. We utilize Branded Inks with Warranty and Guarantee.cart part also available</p>
            </div>
        </div>
     <div class="row mt-3">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="{% static 'photo/wallpaperflare.com_wallpaper (2).jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <h2 class="text-center text-danger">Electrical Fitting Services</h2>
                <p class="text-monospace text-black-10 para mt-5 text-center font-weight-light">Electrical Fittings are the products, which are used for fitting various electrical devices like switches, fans, wires, tube lights etc. These components are available in a wide variety of shapes and sizes and materials. ... Thus, electrical fittings are specifically designed considering various hazards</p>            </div>
        </div>
     <div class="row mt-3">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-4" src="{% static 'photo/window.jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <h2 class="text-center text-danger">Computer and Network Repair and window installing</h2>
                <p class="text-monospace text-black-10 para mt-5 text-center font-weight-light">Network Service Center in Coimbatore has Learned and accessible PC administrations for the PC fix issue you are battling with today. We have actually fixed a great many PC issues and have not experienced something we couldn’t resolve. We ensure the work we do and ensure your fulfillment. See the rundown beneath to for a significant number of the PC and server issues you are managing.</p>            </div>
        </div>
    </div>

    </div>


            </div>
</div>
{#        #}
{% endblock %}

</div>