<nav class="navbar nacc fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand " href="{% url 'index' %}">RK Enterprise</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item naa">
            <a class="nav-link" href="{% url 'index' %}">About</a>
          </li>
          <li class="nav-item naa">
            <a class="nav-link" href="{% url 'about' %}">Services</a>
          </li>
          <li class="nav-item naa">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
            <li class="nav-item naa">
            <a class="nav-link" href="{% url 'createview' %}">Order for servics</a>
          </li>
            <li class="nav-item naa">
            <a class="nav-link" href="{% url 'product' %}">Our Product</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>